html, body {
    background: #ECEEF1;
}
header {
    position: relative;
    top: 5px;
    left: 800px;
}
#account {
    font-size: 13px;
    margin-bottom: 2px;
}
#forgot-id {
    font-size: 13px;
}
#sign-in{
    position: relative;
    top: -30px;
    left: 990px;
    height: 35px;
    width: 90px;
    background-color: #0077C5;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: none;
}
a {
    text-decoration: none;
    color:#0077C5;
}
.main {
    width:  380px;
    display: block;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #c6c7cc;
    border-radius: 4px;
    height: 100%;
}
h1 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    margin-bottom: 10px;
    color: gray;
}
h2 {
    color: rgb(63, 61, 61);
    font-size: 30px;
    text-align: center;
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 350;
}
#mint {
    text-align: center;
    margin-top: -10px;
    color: rgb(63, 61, 61);
}
.learn-more {
    text-align: center;
    margin-top: -16px;
    font-size: 15px;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

input {
    display: block;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #c6c7cc;
    width: 95%;
    border-radius: 3px;
}

.set-1 {
    padding: 0 20px 0 20px;
}

.set-1 label {
    display: block;
    margin: 30px 20px;
    /* font-weight: bold; */
    color: #7c7c80;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px/1.4;
}

.btn {
    width: 100%;
    background: #0077C5;
    color: #fff;
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px;
}

.set-2 {
    background: #ECEEF1;
    margin: 40px 0 0 0;
    font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #7c7c80;
    text-align: center;
    padding: 10px;

}

#call-rates {
    width: 95%;
    color: #7c7c80;
    margin: -30px 20px 20px 20px;
    font-size: 12px;
} 

.term {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #7c7c80;
    
}
